@import './fonts.css';
@import './reset.css';
@import './common.css';
.wrapper{
    padding-top: 64px;
}


.skip-nav{ position: relative; z-index: 15;}
.skip-nav a{ position: absolute; top: -94px; line-height: 30px; background: #ccc; }
.skip-nav a:focus,
.skip-nav a:active{ top: -60px; }


.common-inner{
    max-width: 1408px;
    padding: 0 104px;
    margin: 0 auto;
}


.header{
    position: fixed;
    top: 0;
    line-height: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
}
.header.on::before{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 182px;
    content: '';
    background: #fff;
    opacity: 0.98;
}

.header .group-flex{
    display: flex;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 64px;
    padding: 0 104px 0 98px;
    margin: 0 auto;
}
.header h1{}
.header .h-logo a{
    display: block;
}
.header .h-logo a::after{
    display: inline-block;
    vertical-align: top;
    width: 223px;
    height: 35px;
    background-position: -105px 0px;
    content: '';
}


.gnb{
    display: flex;
    height: 100%;
    flex: 1;
}
.gnb .nav-list{
    display: flex;
    margin-left: 29px;
    height: 100%;
}
.gnb .nav-list .nav-item{
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
}

.gnb .nav-list .nav-item a{
    display: block;
    padding: 0 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.36px;
}
.gnb .nav-list a:hover span, .gnb .util-list a:hover span{
    position: relative;
}
.gnb .nav-list a:hover span::before, .gnb .util-list a:hover span::before{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    content: '';
}

.gnb .nav-list .nav-item .sub{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    height: 182px;
    white-space: nowrap;
}
.gnb .nav-list .nav-item .sub.on{
    display: flex;
}

.gnb .util-list{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.gnb .util-list li{

}

.gnb .util-list a, 
.gnb .util-list .btn-lang{
    display: block;
    padding: 0 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.36px;
}
.gnb .util-list .lang-box{
    position: relative;
}
.gnb .util-list .btn-lang{
}
.gnb .util-list .lang{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
}
.gnb .util-list .lang-box.on .lang{
    display: block;
}
.gnb .util-list .btn-lang::after{
    display: inline-block;
    vertical-align: top;
    margin: 13px 0 0 5px;
    width: 10px;
    height: 6px;
    background-position: -122px -93px;
    content: '';
}
.gnb .util-list .lang-box.on .btn-lang::after{
    transform: rotate(180deg);
}
.gnb .btn-menu{
    display: none;
}
.gnb .side-nav{
    display: none;
}
.gnb .side-nav .group-nav .nav{
    display: block;
    width: 100%;
    padding: 0 22px;
    font-size: 22px;
    text-align: left;
    line-height: 46px;
    letter-spacing: -0.44px;
}
.gnb .side-nav .group-nav .nav.all::after{
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 6px;
    margin: 20px 0 0 9px;
    background-size: 195px 181px;
    background-position: -136px -49px;
    content: '';
}
.gnb .side-nav .group-nav .nav.active::after{
    transform: rotate(180deg);
}
.gnb .side-nav .group-nav .nav.active{
    display: block;
    background-color: #f2f2f2;
}
.gnb .side-nav .group-nav .depth2{
    display: none;
}
.gnb .side-nav .group-nav .depth2 ul{
    display: block;
    padding: 3px 22px 15px;
}
.gnb .side-nav .group-nav .depth2 li{
    margin-top: 13px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
    background: #fff;
}
.gnb .side-nav .group-nav .list{
    position: relative;
    padding: 11px 0 9px;
}
.gnb .side-nav .group-nav .list+.list::before{
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
    right: 22px;
    height: 1px;
    background-color: #d0d0d0;
}
.gnb .side-nav .group-nav .lang-box{
    padding: 19px 0 11px;
}
.gnb .side-nav .group-nav .lang{
    display: block;
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: 28px;
    margin-bottom: 9px;
    padding-left: 22px;    
}
.gnb .side-nav .group-nav .lang::before{
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    margin: 8px 10px 0 0;
    border-radius: 50%;
    content: "";
    border: 1px solid #d0d0d0;
}
.gnb .side-nav .group-nav .lang.active::before{
    background: #000;
    border: 1px solid #000;
}



.footer{
    width: 100%;
    background-color: #f2f2f2;
}
.footer .group-info{
    display: flex;
    align-items: center;
    max-width: 1920px;
    padding: 25px 104px 25px 98px;
    background-color: #f2f2f2;
    margin: 0 auto;
}
.footer .f-logo a{
    display: block;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.32px;
}
.footer .link-policy{
    margin-left: 30px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: #909090;
    font-weight: bold;
}
.footer .related-area{
    z-index: 1;
    position: relative;
    margin-left: auto;
}
.footer .related-area .btn-related{
    width: 280px;
    font-size: 14px;
    line-height: 42px;
    text-align: left;
    background-color: #f2f2f2;
}
.footer .related-area.active .btn-related{
    padding: 0 12px;
    background-color: #fff;
}
.footer .related-area.active .btn-related::after{
    transform: rotate(180deg);
    right: 5px;
}
.footer .related-area.active .btn-related::before{
    display: none;
}
.footer .related-area .btn-related::after{
    position: absolute;
    top: 18px;
    right: 0;
    background-position: -122px -93px;
    width: 10px;
    height: 6px;
    z-index: 100;
    content: "";
}
.footer .related-area .btn-related::before{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
    content: "";
}
.footer .related-area .related-wrap{
    display: none;
}
.footer .related-area.active .related-wrap{
    display: block;
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    background-color: #fff;
}
.footer .related-wrap .list{}
.footer .related-wrap .item{
    padding: 0 12px;
    font-size: 18px;
    line-height: 42px;
}
.footer .related-wrap .item:hover{
    background: #f2f2f2;
}
.footer .related-wrap .item a{
    display: block;
}




/* 데스크탑 1280px~[1025px] */
@media (max-width:1280px) {
    .wrapper{
        padding-top: 60px;
    }
    .header .group-flex{ 
        padding: 0 22px; height: 60px; 
    }    
    .gnb .nav-list{
        display: none;
    }
    .gnb .util-list{
        display: none;
    }
    .header .h-logo a::after{
        width: 160px;
        height: 23px;
        background-position: 0 0;
        background-size: 195px 181px;

    }
    .gnb{
        justify-content: flex-end;
        align-items: center;
    }
    .gnb .btn-menu{
        display: block;
        width: 30px;
        height: 21px;
    }
    .gnb .btn-menu::after{
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 21px;
        background-size: 292px 271px;
        background-position: -127px -42px;
        content: '';
    }
    .gnb .btn-menu.on::after{
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        background-size: 292px 271px;
        background-position: -127px -72px;
        content: '';
    }
    .gnb .side-nav{
        display: block;
        visibility: hidden;
        position: fixed;
        top: 60px;
        height: calc(100vh - 60px);
        background: #fff;
        width: 100%;
        right: -100%;
        overflow-y: auto;
        transition: 0.3s;
    }
    .gnb .side-nav.on{
        right: 0;
        visibility: visible;
    }
    .footer .group-info{
        padding: 25px 22px 25px 22px;
    }

}
/* 태블릿 1024~[768px] */
@media (max-width:1024px) {

  
}
/* 모바일 767~[320] */
@media (max-width:767px) {
    .header.hidden{
        z-index: -1;
    }
    .footer .group-info{
        display: block;
        padding: 25px 22px 29px;
    }
    .footer .f-logo{
        display: inline-block;
    }
    .footer .f-logo a{
        font-size: 15px;
    }
    .footer .related-area .btn-related{
        font-size: 12px;
        width: 100%;
    }
    .footer .related-wrap .item{
        font-size: 12px;
    }
    .footer .related-area .btn-related::before{
        background: #b4b4b4;
    }
}